@inherits LayoutComponentBase

<LP_AngeloSilvaDev.Pages.MainMenu></LP_AngeloSilvaDev.Pages.MainMenu>

<main class="page">
    @Body
</main>

<LP_AngeloSilvaDev.Pages.FooterComponent></LP_AngeloSilvaDev.Pages.FooterComponent>
