@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding: 0; 
}

html, body {
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    background-color: #1E1E1E;
    color: white !important;
}

/* Menu Styles */
#menu-site nav.navbar .navbar-nav .nav-link {
    color: white !important;
}

    #menu-site nav.navbar .navbar-nav .nav-link:hover {
        color: #DB3401 !important;
    }

/* Hero Styles */
#hero{

}
    #hero h2{
        font-size: 46pt;
    }
    #hero h6, h5{
        font-size: 22pt;
        font-weight: 200;
    }
    #hero h5{
        color: #9b9999;
    }

    #hero #hero-call-box-presentation{
        padding-top:70px;
    }

    #hero #hero-call-box {
        border-left: 14px solid #DB3401;
    }

        #hero #hero-call-box p {
            font-size: 10pt;
        }

    #hero #hero-angelo-silva-dev-img {
        background: url('../hero/dev-banner.png') no-repeat top;
        height: 600px;
    }

    #hero-services{
        background-color: black;
        height: 40vh;
    }
        #hero-services .box-service-style, .box-service-style-red {
            width: 280px;
            height: 260px;
            padding: 20px;
            overflow: hidden;
            position: relative;
        }

        #hero-services .box-service-style {
            background-color: #2e2e2e;
            border-bottom: 8px solid #DB3401; /* Borda inferior */
            border-right: 8px solid #DB3401; /* Borda direita */
        }

        #hero-services .box-service-style-red {
            background-color: #DB3401;
            border-bottom: 8px solid #2e2e2e; /* Borda inferior */
            border-right: 8px solid #2e2e2e; /* Borda direita */
        }

        #hero-services .box-service-style p{
            font-size: 10pt;
        }

        #hero-services .box-service-style h6 {
            font-size: 11pt;
            margin: 15px 0 15px 0;
            font-weight: 400
        }

            #hero-services .box-service-style .size-icon-services{
                font-size: 26px;
                margin-bottom: 8px;
            }

/* Globals styles */
.btn-outline-square-red {
    border: #DB3401 solid 2px;
    border-radius: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 10pt;
    padding: 8px 4rem;
    color: white;
}

    .btn-outline-square-red:hover {
        border-radius: 0px;
        font-family: "Montserrat", sans-serif;
        font-size: 10pt;
        padding: 8px 4rem;
        color: white;
        background-color: #DB3401;
    }

.color-social-midia {
    color: #DB3401 !important;
    font-size: 22px;
}
.color-social-midia:hover {
    color: #902e10 !important;
    font-size: 22px;
}

