<section id="about" class="container text-center ">
    <article>
        <h2 class="title-section-style">Um pouco sobre mim</h2>

        <h4 class="fw-light">O que eu faço?</h4>
        <p class="text-start">Transformo ideias em experiências digitais únicas. Trabalho com a criação de sites modernos, responsivos e otimizados para oferecer a melhor performance e usabilidade. Desde páginas simples a soluções mais complexas, utilizo tecnologias atualizadas para ajudar você ou sua empresa a se destacar no mundo digital.</p>

        <h4 class="fw-light  mt-5">Experiências</h4>
        <p class="text-start">Atuo há mais de 11 anos na área de Tecnologia da Informação. No início da minha carreira, trabalhei como programador estagiário, utilizando a linguagem de programação PHP com o framework CakePHP e banco de dados MySQL.</p> 
        <p class="text-start">Posteriormente, ingressei na empresa Citel Software, onde atuo até hoje. Inicialmente, trabalhei como analista de suporte em atualizações de versões de sistemas ERP, o que me proporcionou um contato mais aprofundado com o sistema operacional Linux nas demandas dessa função.</p> 
        <p class="text-start">Em seguida, passei a atuar diretamente no suporte ao cliente, especialmente nas áreas de Notas Fiscais e Controle Financeiro, aprofundando meu conhecimento nesses domínios críticos para a operação empresarial.</p> 
        <p class="text-start">No ano de 2021, decidi expandir minhas competências e me dediquei aos estudos de programação web, escolhendo a linguagem C# (CSharp) da Microsoft. Desde então, tenho buscado aprimorar minhas habilidades na plataforma .NET, avançando do básico da linguagem até a aplicação de padrões modernos de desenvolvimento, como Clean Code, Clean Architecture, CQRS e Microsserviços.</p> 
        <p class="text-start">Como resultado desse esforço, recebi a oportunidade, dentro da própria empresa, de migrar para a área de desenvolvimento de software, na qual atuo até o momento, contribuindo para a criação de soluções robustas e inovadoras.</p>
        
        <h4 class="fw-light  mt-5">Formação</h4>
        <p class="text-start">Formado em Graduação Tecnológica em Análise e Desenvolvimento de Sistemas pelo Centro Universitário Barão de Mauá, em Ribeirão Preto - SP.</p> 
        <p class="text-start">Além da graduação, possuo formação nos cursos especializados abaixo:</p>
        <ul class="list-unstyled text-start">
            <li class="list-item">
                <i class="fa-solid fa-play  color-icon-arrow-list"></i>&nbsp;
                Desenvolvimento Web completo - Udemy
            </li>
            <li class="list-item">
                <i class="fa-solid fa-play color-icon-arrow-list"></i>&nbsp;
                .NET Developer Fundamentals - Balta.io
            </li>
            <li class="list-item">
                <i class="fa-solid fa-play color-icon-arrow-list"></i>&nbsp;
                Fundamentos do ASP .NET - Balta.io
            </li>
            <li class="list-item">
                <i class="fa-solid fa-play color-icon-arrow-list"></i>&nbsp;
                .NET Data Access - Balta.io
            </li>
            <li class="list-item">
                <i class="fa-solid fa-play color-icon-arrow-list"></i>&nbsp;
                Modelando domínios ricos - Balta.io
            </li>
            <li class="list-item">
                <i class="fa-solid fa-play color-icon-arrow-list"></i>&nbsp;
                Segurança em APIs ASP.NET com JWT e Bearer Authentication - Balta.io
            </li>
            <li class="list-item">
                <i class="fa-solid fa-play color-icon-arrow-list"></i>&nbsp;
                Clean Archtecture Essencial com ASP.NET Core - Udemy/Macoratti
            </li>
            <li class="list-item">
                <i class="fa-solid fa-play color-icon-arrow-list"></i>&nbsp;
                Arquitetura de microsserviços - Udemy/Erudio Training
            </li>
        </ul>
    </article>
</section>

@code {

}
