<section id="contact" class="container">
    <div class="text-center">
        <h2 class="title-section-style  text-center">Contato</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Deixe sua mensagem que em breve entrarei em contato.</p>
            <form id="frm-contact">
                <input type="text" class="form-control  input-style-contact mb-4" placeholder="Digite seu nome" />
                <input type="email" class="form-control input-style-contact mb-4" placeholder="Digite seu e-mail" />
                <textarea class="form-control input-style-contact mb-4" placeholder="Digite sua mensagem" />
                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-sm btn-outline-square-red" value="Enviar" />
                </div>
            </form>
        </div>
        <div class="col-md-6  p-3">
            <h6>Informações de contato</h6>
            <p class="mb-4">Você também pode entrar em contato através das minhas redes sociais ou email abaixo.</p>
            <div class="row">
                <div id="contact-icons" class="col-1 p-2">
                    <i class="fa-brands fa-instagram color-social-midia mb-4"></i>
                    <i class="fa-brands fa-github color-social-midia mb-4"></i>
                    <i class="fa-brands fa-whatsapp color-social-midia mb-4"></i>
                    <i class="fa-solid fa-envelope color-social-midia"></i>
                </div>
                <div class="col-11">
                    <div class="row mb-3  contact-text-social-midia">
                        <span>Instagram</span>
                        <a href="https://www.instagram.com/angelosilva__" target="_blank" >angelosilva__</a>
                    </div>

                    <div class="row mb-3 contact-text-social-midia">
                        <span>Github</span>
                        <a href="https://github.com/angelosilva-dev" target="_blank">/angelosilva-dev</a>
                    </div>

                    <div class="row mb-2 contact-text-social-midia">
                        <span>whatsapp</span>
                        <a href="https://wa.me/+5516981986693" target="_blank">+55 (16)98198-6693</a>
                    </div>
                    
                    <div class="row  contact-text-social-midia">
                        <span>Email</span>
                        <a href="#">angelo_csilva@outlook.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
