<footer id="footer-site">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="img/logo/LogoAngeloSilva-horizontal.png" width="160" />
            </div>
        
            <div class="col-md-6 d-flex justify-content-end align-items-center mb-0">
                <p>&copy; Copyright. Todos os direitos reservados.</p>
            </div>
        </div>

    </div>
</footer>

@code {

}
