<section id="hero" class="container">
    <div class="row">
        <div id="hero-call-box-presentation" class="col-md-8">
            <div class="row d-flex flex-row">
                <div>
                    <h6>Olá, me chamo</h6>
                    <h2>Angelo Silva</h2>
                    <h5>Crio aplicações web para <br />elevar sua marca online</h5>
                </div>
                <div>
                    <div id="hero-call-box" class="ps-4 pt-2 pb-2 mt-4">
                        <div id="hero-social-midial" class="d-flex justify-content-start align-items-start gap-4 mb-2">
                            <a href="https://www.instagram.com/seuperfil" target="_blank" class="text-decoration-none text-dark">
                                <i class="fa-brands fa-instagram color-social-midia"></i>
                            </a>
                            <a href="https://wa.me/seunumerodetelefone" target="_blank" class="text-decoration-none text-dark">
                                <i class="fa-brands fa-whatsapp color-social-midia"></i>
                            </a>
                            <a href="https://github.com/seuperfil" target="_blank" class="text-decoration-none text-dark">
                                <i class="fa-brands fa-github color-social-midia"></i>
                            </a>
                        </div>
                        <p>
                            Ofereço soluções completas para impulsionar a presença digital do seu negócio.
                            Especializado na criação de sites institucionais, landing pages e sistemas web focados em funcionalidade e design intuitivo para proporcionar a melhor experiência aos seus usuários.
                        </p>
                        <a class="btn btn-lg btn-outline-square-red" href="#">PORTFÓLIO</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="hero-angelo-silva-dev-img" class="col-md-4"></div>
    </div>
</section>
<section id="hero-services">
    <div class="container">
        <div id="hero-services-box" class="row d-flex justify-content-between">
            <div class="box-service-style-red box-service-style col-md-4">
                <i class="fa-solid fa-desktop size-icon-services"></i>
                <h6>SITES INSTITUCIONAIS</h6>
                <p>Com um site institucional, sua empresa ganha uma presença profissional e acessível, facilitando o contato com clientes, aumentando a visibilidade e destacando sua posição no mercado.</p>
            </div>
            <div class="box-service-style col-md-4">
                <i class="fa-solid fa-pager size-icon-services"></i>
                <h6>LANDING PAGES</h6>
                <p>Landing pages são páginas focadas em conversões, projetadas para guiar o usuário a uma ação específica, como preencher um formulário ou fazer uma compra.</p>
            </div>
            <div class="box-service-style col-md-4">
                <i class="fa-solid fa-mobile size-icon-services"></i>
                <h6>DESIGN RESPONSÍVEL</h6>
                <p>O design responsivo é uma abordagem de desenvolvimento que garante que seu site funcione e seja visualmente agradável em qualquer dispositivo, seja um computador, tablet ou smartphone.</p>
            </div>
        </div>
        <div class="row  d-flex justify-content-center">
            <h6 class="text-center fw-semibold">Vamos trabalhar juntos?</h6>
            <div class="col-md-4 text-center">
                <a class="btn btn-sm btn-outline-square-red" href="#">PEÇA JÁ SEU ORÇAMENTO</a>
            </div>
        </div>
    </div>
</section>

@code {

}
