<section id="skills">
    <div class="container text-center">
        <h2 class="title-section-style">Habilidades</h2>
        <div class="row">
            <div class="col-md-3">
                <h5>Front-end</h5>
                <ul class="list-unstyled">
                    <li class="list-item mb-2">
                        <img src="/img/skills/skill_html5.png" width="46" /><br />
                        HTML5
                    </li>                    
                    <li class="list-item mb-4">
                        <img src="/img/skills/skill_css3.png" width="36" /><br />
                        CSS3
                    </li>
                    <li class="list-item mb-4">
                        <img src="/img/skills/skill_javascript.png" width="36" /><br />
                        Javascript
                    </li>
                    <li class="list-item mb-4">
                        <img src="/img/skills/skill_bootstrap.png" width="36" /><br />
                        Bootstrap
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Back-end/Banco de dados</h5>
                <ul class="list-unstyled">
                    <li class="list-item mb-4">
                        <img src="/img/skills/skill_csharp.png" width="52" /><br />
                        C#
                    </li>
                    <li class="list-item mb-4">
                        <img src="/img/skills/skill_mysql.png" width="52" /><br />
                        MySQL
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Ferramentas</h5>
                <ul class="list-unstyled">
                    <li class="list-item mb-4">
                        <img src="/img/skills/skill_visualstudio.png" width="36" /><br />
                        Visual Studio
                    </li>
                    <li class="list-item mb-4">
                        <img src="/img/skills/skill_visual-studio-code.png" width="36" /><br />
                        Visual Studio Code
                    </li>
                    <li class="list-item mb-4">
                        <img src="/img/skills/skill_postman.png" width="36" /><br />
                        Postman
                    </li>
                    <li class="list-item mb-4">
                        <img src="/img/skills/skill_git.png" width="36" /><br />
                        Git
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>UI-Design</h5>
                <ul class="list-unstyled">
                    <li class="list-item mb-4">
                        <img src="/img/skills/skill_figma.png" width="36" /><br />
                        Figma
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

@code {

}
