<section id="testmonials">
    <div class="container text-center">
        <h2 class="title-section-style">Depoimentos</h2>
        <p class="mb-5">Veja o que nossos clientes têm a dizer sobre suas experiências! Aqui estão alguns depoimentos que refletem a confiança e a satisfação com o trabalho que realizamos juntos.</p>

        <div id="testimonialsCarousel" class="carousel slide" data-bs-ride="carousel">

            <!-- Slides -->
            <div class="carousel-inner">
                <!-- Slide 1 -->
                <div class="carousel-item active">
                    <div id="testmonials-content" class="row d-flex justify-content-between">
                        <div class="container mt-4 col-md-6 card-testmonials-style">
                            <div class="d-flex align-items-center">
                                <img src="img/testimonials-photos/testmonial-lilian-personal-chef.png" class="img-fluid me-2" width="100">
                                <div class="text-start">
                                    <h6 class="mb-1">Lilian França</h6>
                                    <span class="text-light-emphasis">Lilian Personal Chef</span>
                                </div>
                                <img src="img/testimonials-photos/double-quotes.png" class="img-fluid ms-auto p-2" width="60" />
                            </div>
                            <div class="row mt-4">
                                <p class="text-start">Contratei os serviços para criar um site que representasse a essência do meu trabalho como Personal Chef, e o resultado superou todas as expectativas. A página está elegante, intuitiva e reflete perfeitamente minha marca.</p>
                            </div>
                        </div>
                        <div class="container mt-4 col-md-6 card-testmonials-style">
                            <div class="d-flex align-items-center">
                                <img src="img/testimonials-photos/testmonial-startup-a8.png" class="img-fluid me-2" width="100">
                                <div class="text-start">
                                    <h6 class="mb-1">Alex Fagundes</h6>
                                    <span class="text-light-emphasis">A8 Startup</span>
                                </div>
                                <img src="img/testimonials-photos/double-quotes.png" class="img-fluid ms-auto p-2" width="60" />
                            </div>
                            <div class="row mt-4">
                                <p class="text-start">Precisávamos de uma solução moderna e funcional para apresentar os serviços da nossa empresa. O projeto desenvolvido foi incrível, com design limpo e navegação eficiente, ideal para nosso público-alvo.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide 2 -->
                <div class="carousel-item">
                    <div id="testmonials-content" class="row d-flex justify-content-between">
                        <div class="container mt-4 col-md-6 card-testmonials-style">
                            <div class="d-flex align-items-center">
                                <img src="img/testimonials-photos/testmonials-femini.png" class="img-fluid me-2" width="100">
                                <div class="text-start">
                                    <h6 class="mb-1">Vanessa Albuquerque</h6>
                                    <span class="text-light-emphasis">Femini Store</span>
                                </div>
                                <img src="img/testimonials-photos/double-quotes.png" class="img-fluid ms-auto p-2" width="60" />
                            </div>
                            <div class="row mt-4">
                                <p class="text-start">Queríamos um site que transmitisse a identidade da nossa loja feminina: moderno, elegante e fácil de navegar. O resultado foi simplesmente perfeito! O design captou a essência da nossa marca, e a experiência do usuário ficou incrível</p>
                            </div>
                        </div>
                        <div class="container mt-4 col-md-6 card-testmonials-style">
                            <div class="d-flex align-items-center">
                                <img src="img/testimonials-photos/testmonials-faciagendar.png" class="img-fluid me-2" width="100">
                                <div class="text-start">
                                    <h6 class="mb-1">Henrique Torres</h6>
                                    <span class="text-light-emphasis">Fácil Agendar</span>
                                </div>
                                <img src="img/testimonials-photos/double-quotes.png" class="img-fluid ms-auto p-2" width="60" />
                            </div>
                            <div class="row mt-4">
                                <p class="text-start">Gerenciar agendamentos de forma eficiente sempre foi um desafio para minha empresa, mas depois do desenvolvimento do nosso novo site, tudo mudou! O sistema ficou ágil, intuitivo e totalmente adaptado às nossas necessidades</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Indicadores no rodapé -->
            <div class="row carousel-indicators d-flex justify-content-center">
                <button type="button" data-bs-target="#testimonialsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#testimonialsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
        </div>


    </div>
</section>

@code {

}
